{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    //Remove optional chaining linting error
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  }
}
