@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url(./assets/fonts/Poppins/Poppins-Regular.ttf) format('opentype');
}
body {
  font-family: Poppins, Arial, serif;
  transition: all 0.3s ease-in-out;
}
body.dark {
  --tw-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}
